# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# PyCharm files
.idea/
*.iml
*.iws
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/**/workspace.xml

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local .env files
.env
.env.*

# Docker
*.log
docker-compose.override.yml

# VSCode files (if using PyCharm and VSCode interchangeably)
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db
